In [1]:
import pandas as pd
import sqlite3
import random
from contextlib import contextmanager

def generate_sample_data(num_records=1000):
    years = list(range(1900, 2021))
    data = {
        'record_id': range(1, num_records + 1),
        'year': [random.choice(years) for _ in range(num_records)],
        'temperature_c': [random.uniform(-50, 50) for _ in range(num_records)]
    }
    df = pd.DataFrame(data)
    csv_path = '/content/weather_data.csv'
    df.to_csv(csv_path, index=False)
    print(f"Sample data generated and saved to {csv_path} (simulating HDFS file).")
    return csv_path

@contextmanager
def sqlite_connection(db_name):
    conn = sqlite3.connect(db_name)
    try:
        yield conn
    finally:
        conn.close()

def sqoop_like_import(csv_path, db_name, table_name):
    df = pd.read_csv(csv_path)
    print(f"Sqoop-like export: Read {len(df)} records from {csv_path} (HDFS).")

    with sqlite_connection(db_name) as conn:
        df.to_sql(table_name, conn, if_exists='replace', index=False)
        print(f"Sqoop-like import: Loaded data into {db_name}.{table_name} (Hive table).")

        conn.execute(f'CREATE INDEX idx_year ON {table_name}(year)')
        print(f"Index 'idx_year' created on {table_name}.year.")

def generate_weather_report(db_name, table_name):
    with sqlite_connection(db_name) as conn:
        query = f'''
            SELECT year,
                   MIN(temperature_c) AS min_temp_c,
                   MAX(temperature_c) AS max_temp_c
            FROM {table_name}
            GROUP BY year
            ORDER BY year
        '''
        report_df = pd.read_sql_query(query, conn)
        report_df['min_temp_c'] = report_df['min_temp_c'].round(1)
        report_df['max_temp_c'] = report_df['max_temp_c'].round(1)
    return report_df

if __name__ == "__main__":
    print("=== Simulating Sqoop Export/Import to Hive ===")

    csv_path = generate_sample_data(1000)

    db_name = 'weather_hive.db'
    table_name = 'weather_data'
    sqoop_like_import(csv_path, db_name, table_name)

    print("\nGenerating Weather Temperature Statistics Report...")
    report = generate_weather_report(db_name, table_name)

    print("\n=== Weather Report ===")
    print("Year\tMin Temp (째C)\tMax Temp (째C)")
    print("-" * 35)
    for _, row in report.iterrows():
        print(f"{int(row['year'])}\t{row['min_temp_c']}\t\t{row['max_temp_c']}")

    print(f"\nSample data from {table_name} (first 5 rows):")
    with sqlite_connection(db_name) as conn:
        sample_data = pd.read_sql_query(f'SELECT * FROM {table_name} LIMIT 5', conn)
        print(sample_data)

=== Simulating Sqoop Export/Import to Hive ===
Sample data generated and saved to /content/weather_data.csv (simulating HDFS file).
Sqoop-like export: Read 1000 records from /content/weather_data.csv (HDFS).
Sqoop-like import: Loaded data into weather_hive.db.weather_data (Hive table).
Index 'idx_year' created on weather_data.year.

Generating Weather Temperature Statistics Report...

=== Weather Report ===
Year	Min Temp (째C)	Max Temp (째C)
-----------------------------------
1900	-47.8		44.0
1901	-16.1		37.7
1902	-48.3		38.5
1903	-45.6		47.0
1904	-45.7		34.8
1905	-29.1		28.3
1906	-45.0		47.8
1907	-27.9		46.6
1908	-46.7		30.7
1909	-40.5		45.0
1910	-23.7		26.0
1911	-38.6		36.6
1912	-42.5		49.1
1913	-24.0		39.2
1914	-48.2		40.7
1915	-37.5		38.6
1916	-22.0		47.3
1917	-43.4		50.0
1918	-38.0		40.1
1919	-46.2		26.4
1920	-47.0		34.0
1921	-32.0		45.8
1922	-32.0		46.9
1923	-41.2		33.2
1924	-46.4		48.2
1925	-47.4		6.1
1926	-47.7		44.7
1927	-42.2		48.1
1928	-43.8		39.4
1929	-25.6		48.6
1930	-23.9		32.2
1931	-38.9		21.7
1932	-49.3		3.8
1933	-49.9		41.6
1934	-46.7		29.6
1935	-41.4		49.7
1936	-35.0		46.6
1937	-42.8		48.7
1938	-44.2		39.9
1939	-46.0		46.6
1940	-44.4		45.4
1941	-46.9		40.8
1942	-46.4		45.5
1943	-28.8		43.6
1944	-45.9		43.7
1945	-27.9		38.2
1946	-46.7		44.9
1947	36.9		47.6
1948	-49.2		41.4
1949	-49.2		36.7
1950	-42.0		43.5
1951	-14.9		41.7
1952	-49.5		40.7
1953	-26.6		36.8
1954	-28.9		43.7
1955	-40.7		16.2
1956	-47.7		30.7
1957	-49.9		36.1
1958	-49.4		24.1
1959	-34.8		32.0
1960	-48.9		38.0
1961	-47.3		48.7
1962	-48.2		49.7
1963	-45.2		36.7
1964	-14.5		41.6
1965	-43.0		43.8
1966	-18.2		46.8
1967	-42.7		44.8
1968	-29.9		48.5
1969	-30.7		36.4
1970	-24.4		27.0
1971	-13.5		48.9
1972	-48.8		47.0
1973	-39.8		17.7
1974	-49.3		40.3
1975	-41.8		38.0
1976	-49.4		48.9
1977	-24.0		49.3
1978	-41.5		47.4
1979	-38.3		43.2
1980	-46.9		34.3
1981	-47.6		36.9
1982	-42.9		37.1
1983	38.2		42.2
1984	-17.4		45.4
1985	-17.8		44.4
1986	-44.7		30.6
1987	-28.0		47.2
1988	-28.3		34.6
1989	-38.7		44.8
1990	-41.4		36.8
1991	-41.0		45.1
1992	-33.9		25.5
1993	-46.2		33.8
1994	-49.4		46.6
1995	-29.9		40.4
1996	-45.4		48.1
1997	-36.2		42.2
1998	-45.8		17.5
1999	-34.4		31.3
2000	-46.3		48.0
2001	-47.5		37.9
2002	-49.3		40.9
2003	-42.2		2.2
2004	-40.2		45.1
2005	-43.7		48.5
2006	-41.0		47.0
2007	-43.8		34.2
2008	-13.8		35.7
2009	-31.6		46.1
2010	-12.0		45.4
2011	-38.9		25.8
2012	-37.1		0.6
2013	-42.1		37.2
2014	-43.8		49.7
2015	-20.6		-20.6
2016	-29.1		41.6
2017	-38.3		47.0
2018	-29.5		40.3
2019	-42.2		48.7
2020	-42.7		16.4

Sample data from weather_data (first 5 rows):
   record_id  year  temperature_c
0          1  1991      -8.907043
1          2  1909      31.913999
2          3  1926      30.800370
3          4  1944      43.686403
4          5  1917      -7.026548