In [5]:
import pandas as pd
import sqlite3
import random
from contextlib import contextmanager

# Step 1: Generate sample weather data (similar to previous request)
def generate_sample_data(num_records=1000):
    years = list(range(1900, 2021))
    data = {
        'record_id': range(1, num_records + 1),
        'year': [random.choice(years) for _ in range(num_records)],
        'temperature_c': [random.uniform(-5, 50) for _ in range(num_records)]
    }
    return pd.DataFrame(data)

# Step 2: Simulate Hive database and table in SQLite
@contextmanager
def sqlite_connection(db_name):
    conn = sqlite3.connect(db_name)
    try:
        yield conn
    finally:
        conn.close()

def setup_hive_like_db():
    # Create a SQLite database (simulating Hive database)
    db_name = 'weather_hive1.db'
    df = generate_sample_data(1000)

    with sqlite_connection(db_name) as conn:
        # Create table (simulating Hive CREATE TABLE)
        df.to_sql('weather_data', conn, if_exists='replace', index=False)

        # Create index on year (simulating Hive CREATE INDEX)
        conn.execute('CREATE INDEX idx_year ON weather_data(year)')

        # Create view (simulating Hive CREATE VIEW)
        conn.execute('''
            CREATE VIEW positive_temps AS
            SELECT record_id, year, temperature_c
            FROM weather_data
            WHERE temperature_c > 0
        ''')

    print(f"Database '{db_name}', table 'weather_data', index 'idx_year', and view 'positive_temps' created.")

# Step 3: User-Defined Function (UDF) to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(temp_c):
    return (temp_c * 9/5) + 32

# Register UDF in SQLite
def register_udf(conn):
    conn.create_function('c_to_f', 1, celsius_to_fahrenheit)
    print("UDF 'c_to_f' registered.")

# Step 4: Generate weather report (min/max temps per year)
def generate_weather_report():
    db_name = 'weather_hive.db'
    with sqlite_connection(db_name) as conn:
        # Register UDF
        register_udf(conn)

        # Query table for min/max temps
        query_table = '''
            SELECT year,
                   MIN(temperature_c) AS min_temp_c,
                   MAX(temperature_c) AS max_temp_c
            FROM weather_data
            GROUP BY year
            ORDER BY year
        '''
        report_df = pd.read_sql_query(query_table, conn)

        # Query view with UDF for max temp in Fahrenheit
        query_view = '''
            SELECT year,
                   c_to_f(MAX(temperature_c)) AS max_temp_f
            FROM positive_temps
            GROUP BY year
            ORDER BY year
        '''
        view_df = pd.read_sql_query(query_view, conn)

        # Merge results
        result = report_df.merge(view_df, on='year', how='left')
        result['max_temp_f'] = result['max_temp_f'].round(1)
        result['min_temp_c'] = result['min_temp_c'].round(1)
        result['max_temp_c'] = result['max_temp_c'].round(1)

    return result

# Step 5: Run the POC
if __name__ == "__main__":
    print("Setting up Hive-like environment...")
    setup_hive_like_db()

    print("\nGenerating Weather Temperature Statistics Report...")
    report = generate_weather_report()

    print("\n=== Weather Report ===")
    print("Year\tMin Temp (°C)\tMax Temp (°C)\tMax Temp (°F)")
    print("-" * 50)
    for _, row in report.iterrows():
        print(f"{int(row['year'])}\t{row['min_temp_c']}\t\t{row['max_temp_c']}\t\t{row['max_temp_f']}")

    print("\nSample data from view (first 5 rows):")
    with sqlite_connection('weather_hive.db') as conn:
        sample_view = pd.read_sql_query('SELECT * FROM positive_temps LIMIT 5', conn)
        print(sample_view)

Setting up Hive-like environment...
Database 'weather_hive1.db', table 'weather_data', index 'idx_year', and view 'positive_temps' created.

Generating Weather Temperature Statistics Report...
UDF 'c_to_f' registered.

=== Weather Report ===
Year	Min Temp (°C)	Max Temp (°C)	Max Temp (°F)
--------------------------------------------------
1900	-38.0		49.0		120.2
1901	-41.1		29.7		85.4
1902	-35.7		46.6		116.0
1903	-33.1		49.7		121.4
1904	-42.1		49.4		120.9
1905	-40.2		45.3		113.6
1906	-48.2		46.7		116.1
1907	-46.0		43.8		110.8
1908	-47.9		36.9		98.4
1909	-27.8		49.4		120.9
1910	-48.5		38.0		100.3
1911	-34.9		32.6		90.7
1912	-42.2		44.2		111.5
1913	-47.1		45.5		113.9
1914	3.7		43.1		109.6
1915	-36.2		49.5		121.0
1916	-26.1		48.5		119.3
1917	-42.4		16.4		61.5
1918	-48.3		39.2		102.5
1919	-45.1		40.3		104.6
1920	-48.8		36.8		98.2
1921	-43.9		21.7		71.1
1922	-36.3		48.7		119.7
1923	-20.4		48.3		119.0
1924	-21.9		46.1		115.0
1925	-49.6		49.1		120.4
1926	-34.3		40.5		104.8
1927	-25.5		30.1		86.1
1928	-47.4		44.6		112.2
1929	-38.1		40.8		105.5
1930	-19.6		37.6		99.7
1931	-44.3		39.5		103.1
1932	-32.6		42.6		108.6
1933	-23.9		44.7		112.5
1934	-41.8		47.9		118.2
1935	-35.6		47.4		117.3
1936	-48.3		15.8		60.5
1937	-43.9		45.9		114.6
1938	-41.0		49.9		121.9
1939	-41.9		32.7		90.8
1940	-46.3		34.8		94.6
1941	-45.8		45.8		114.5
1942	-34.2		47.2		117.0
1943	-21.1		11.3		52.4
1944	-49.3		42.2		108.0
1945	-35.7		34.1		93.3
1946	-42.2		38.8		101.9
1947	-41.1		50.0		121.9
1948	-25.2		3.8		38.8
1949	-34.3		39.1		102.4
1950	-45.1		6.1		42.9
1951	-47.3		48.7		119.6
1952	-36.5		43.7		110.6
1953	-46.3		44.7		112.4
1954	-21.4		28.7		83.7
1955	-38.2		38.4		101.0
1956	-24.6		43.1		109.6
1957	-42.5		46.1		115.0
1958	-8.9		-0.6		nan
1959	-48.9		41.1		105.9
1960	-32.2		47.6		117.7
1961	6.1		43.2		109.7
1962	-41.9		42.6		108.7
1963	-5.7		47.4		117.3
1964	-44.6		47.4		117.3
1965	-45.7		43.0		109.4
1966	-42.9		-27.8		nan
1967	-49.0		46.3		115.4
1968	-35.2		32.4		90.3
1969	-49.8		43.5		110.4
1970	-42.7		39.5		103.1
1971	-46.8		23.3		73.9
1972	-43.2		45.6		114.0
1973	-36.2		38.6		101.4
1974	-48.3		42.8		109.1
1975	-44.0		48.7		119.7
1976	-37.5		50.0		122.0
1977	-45.4		48.6		119.4
1978	-43.8		-9.9		nan
1979	-22.2		36.7		98.0
1980	-50.0		31.1		88.0
1981	-22.7		31.4		88.6
1982	-39.1		38.1		100.6
1983	-46.4		49.9		121.8
1984	-42.0		45.5		113.9
1985	-44.1		43.8		110.9
1986	-29.6		47.2		117.0
1987	-42.3		47.5		117.5
1988	-39.4		49.7		121.5
1989	-28.0		39.8		103.6
1990	-26.0		47.3		117.2
1991	-44.9		47.7		117.8
1992	-41.5		37.9		100.2
1993	-45.9		48.2		118.8
1994	-46.1		29.4		84.9
1995	-49.4		30.6		87.0
1996	-45.7		46.7		116.1
1997	-44.7		25.5		77.8
1998	-25.2		37.8		100.0
1999	-45.6		40.6		105.1
2000	-40.7		49.1		120.5
2001	-47.4		44.0		111.2
2002	5.3		33.7		92.7
2003	-39.0		38.8		101.9
2004	-49.2		41.5		106.7
2005	-46.2		36.8		98.3
2006	-33.1		33.3		91.9
2007	-27.5		48.1		118.7
2008	-49.0		37.0		98.7
2009	-27.1		34.1		93.4
2010	-45.1		45.8		114.5
2011	-49.3		22.7		72.9
2012	-32.6		46.8		116.2
2013	-44.4		26.8		80.2
2014	-42.4		-3.8		nan
2015	-46.6		48.8		119.9
2016	-48.6		43.8		110.8
2017	-49.7		34.5		94.1
2018	-47.7		48.6		119.4
2019	-22.7		36.0		96.7
2020	-40.8		45.8		114.4

Sample data from view (first 5 rows):
   record_id  year  temperature_c
0          2  2017      22.649050
1          4  1951      18.807256
2          7  1947       0.096658
3          8  1957      11.455780
4          9  2004       2.863561